#btnChange {
    text-align: center;
    border-bottom: 1px solid rgba(145, 148, 161, 0.3);
    margin: 0 auto;
    width: 660px;
}

#btnChange button {
    padding: 30px 30px;
    cursor: pointer;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.5;
}

.simpleContent .simple, .speedContent .speed, .easyContent .easy {
    border-bottom: 5px solid hsl(0, 94%, 66%) !important;
    opacity: 0.8 !important;
}