#features .text {
    width: 35%;
    text-align: center;
    margin: 150px auto 80px;
}

#features .text h1 {
    font-size: 3.0rem;
    margin-bottom: 30px;
}

#features .text p {
    font-size: 1.3rem;
}

#features .img {
    margin-top: 80px;
    width: 50%;
    text-align: right;
}

#features .img img {
    width: 100%;
}

#features .img .formBackImg {
    width: 45%;
    background: hsl(231, 69%, 60%);
    height: 390px;
    position: absolute;
    top: 1510px;
    left: 0;
    z-index: -1;

    border-radius: 0px 200px 200px 0px;
}