#features .featureText {
    width: 35%;
    text-align: center;
    margin: 150px auto 80px;
}

#features .featureText h1 {
    font-size: 3.0rem;
    margin-bottom: 30px;
}

#features .featureText p {
    font-size: 1.3rem;
}

#features .img {
    margin-top: 80px;
    width: 50%;
    text-align: right;
}

#features .img img {
    width: 80%;
}

#features .img .formBackImg {
    width: 46%;
    background: hsl(231, 69%, 60%);
    height: 420px;
    position: absolute;
    top: 1450px;
    left: 0;
    z-index: -1;

    border-radius: 0px 200px 200px 0px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .text {
    width: 40%;
}

.content .text h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.subTitle {
    font-size: 1.3rem;
    margin-bottom: 30px;
}  